*{
	margin: 0;
	padding: 0;
}
/*@media screen and (max-width: 300px) {
    .title p {
		line-height: 50px;
	    margin-left: 7px;
	    padding-left: 40px;
	    background: url(../images/icon_labelling.png) no-repeat left center;
	    background-size: 3% auto;
	}
}*/
.title {
	width: 100%;
	height: 50px;
	background: #D8D8D8;
}
.title p {
	line-height: 50px;
    margin-left: 7px;
    padding-left: 40px;
    background: url(../images/icon_labelling.png) no-repeat left center;
}
.centerPic {
	width: 50%;
	margin: 20px auto;
	display: block;
}